# SPDX-FileCopyrightText: ASSUME Developers
#
# SPDX-License-Identifier: AGPL-3.0-or-later

*.orig
*.pyc
*.pt
*.log
demand_meta.csv
market_dispatch.csv
market_meta.csv
market_orders.csv
power_plant_meta.csv
unit_dispatch.csv
assume-db
local_db
